DATABASE_URL='postgresql://user:password@localhost/leetcode_tracker' # don't forget to create the table before hand
HOST="0.0.0.0" # a host
PORT=8000 # the port on your machine where you want this server to run
ENVIRONMENT='development' # if using a dev environment, "deploy" if deploying for example